<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Greetings!</title>
  <meta name="description" content="Gin Example Template">
  <meta name="author" content="Robert Hutzel">
</head>
<body style="background: linear-gradient(to right, grey, lightgrey);">
    <h2>Hello {{ .name }}!</h2>
</body>
</html>
